.categoria_div{
    font-family: sans-serif;
    max-width: 1400px;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.promocao_tile_motion_div{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 470px;
    border-radius: 20px;
}
.cat_detalhes_but{
    width: 130px;
    margin: auto;
    position: relative;
    bottom: 10px;
    background-color: #BABABA;
    text-align: center;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cat_detalhes_but a{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: #DB4A2B;
}
.cat_img img{
    width: 300px;
    height: 300px;
}
.cat_detalhes_but{
    display: flex;
    align-items: center;
    justify-content: center;
}