.ad_car_but button{
    font-family: sans-serif;
    width: 400px;
    height: 60px;
    border-style: none;
    background-color: #DB4A2B;
    color: white;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}
.ad_car_but{
    width: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:400px) {
    .ad_car_but button{
        width: 300px;
    }
    .ad_car_but{
        margin: auto;
        width: 300px;
    }
}
@media (min-width:401px) and (max-width:576px){
    .ad_car_but button{
        width: 300px;
    }
    .ad_car_but{
        margin: auto;
        width: 300px;
    }
}
